table, th, td {
    border: 1px solid black;
}

th, td {
  padding: 1vw;
}

canvas {
  border: 1px solid black;
}

section {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 90%;
}

table {
 margin-left: auto;
 margin-right: auto; 
}