.midstilt {
  margin: auto;
}

.container {
  width: 80%;
  max-width: 1000px;
  min-width: 500px;
  background: lightblue;
  padding: 1vw;
}

.text-center {
  text-align: center;
}

body {
  background: rgb(235, 235, 235);
}

circle {
  transition: fill .2s ease;
  fill: rgb(255, 0, 0);
}
