.jumbotron {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  opacity: 0.8;
}

#allowedToDriveBox {
  width: 100%;
  text-align: center;
  opacity: 1;
}

body {
  background: lightblue url("../img/mountain-road.jpg") no-repeat fixed center;
}

img {
  max-height: 150px;
  max-width: 100%;
  opacity: 1;
}