#pandaImg {
    height: 300px;
    float: left;
    margin: 2%;
}

.center {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

body {
  background-color: #333;
  min-width: 300px;
  margin: 0;
}

main {
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    padding: 2%;
    background-color: #666;

}

h1 {
  color: yellow;
    margin-left: auto;
    margin-right: auto;
}

p, a, i, b, td, th, li {
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(even) td {
  color: black;
}

header {
  display: flex;
  height: 6vh;
  background-color: #aaa;
  margin-bottom: 1vh;
}

header > * {
    flex: 1 auto;
    color: black;
}

.textbox {
    float: left;
}
